.topHeading {
    display: flex;
    flex-direction: row;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headingOne {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.subHeading {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0px 15px 0px 10px;
}

.searchBar {
    display: flex;
    transform: translateY(15%);
}

.tableContainer {
    padding: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scrollable_table {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    gap: 12px;
    border-collapse: collapse;

    th,
    td {
        padding: 10px 10px 10px 24px;
        text-align: left;
        font-weight: var(--tableData-fontWeight);
        font-size: var(--tableData-fontSize);
        border: none;
        border-bottom: 0.1px solid #f0f0f0;
    }

    td {
        border-bottom: 0.1px solid #f0f0f0;
    }

    thead {
        tr {
            th {
                padding: 10px 10px 10px 24px;
                color: var(--tableHeader-fontColor);
                background-color: var(--tableHeader-backgroundColor);
                border: none;
                font-size: var(--tableHeader-fontSize);
                font-weight: var(--tableHeader-fontWeight);
                text-transform: var(--tableHeader-textTransform);
            }
        }
    }
}

.emptyDataHandling {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.spanContent {
    font-weight: 400;
}

.pagination {
    padding-top: 10px;
    display: flex;
    justify-content: end;
}

/////local purchase order

.sub_header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.textContent_1 {
    display: flex;
    flex-direction: column;
}

.projectTitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: -70px;
}

.lineStyles {
    padding: 8px;
    display: flex;
}

.vertical {
    position: relative;
}

.verticalLine::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5px;
    background-color: #7a7676;
    height: 100%;
}

.boqAmount {
    display: flex;
    justify-content: flex-end;
}

.selected {
    position: relative;
}

.selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d0d5dd;
}