.container {
  // width: 120%;
  height: 100vh;
  // background-color: #118153;
}

.topHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  align-self: center;
  // background-color: #118153;
}
.sub_header {
  height: 10vh;
  display: flex;
}

.vertical {
  position: relative;
}

.verticalLine::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d0d5dd;
  height: 100%;
}

.cards {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amountCards {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  gap: 35px;
  flex-wrap: wrap;
}

.card1 {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 20%;
  border-radius: 7px;
  padding: 25px;
  background-color: white;
}
.card2 {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  // width: 100%;
  height: 20%;
  border-radius: 7px;
  padding: 25px;
  background-color: white;
}
.grpButtons {
  display: flex;
  justify-content: center;
  padding: 20px 0px 15px 0px;
  // background-color: #667085;
}

.approvedStyles {
  color: #118153;
}
.rejectedStyles {
  color: red;
}
.pendingStyles {
  color: #c01574;
}

.approvedStatus {
  background-color: #ecfdf3;
  padding: 6px;
  border-radius: 50px;
  color: #027a48;
}
.pendingStatus {
  background-color: #fdf2fa;
  padding: 6px;
  border-radius: 50px;
  color: #c11574;
}
.rejectedStatus {
  background-color: #fffaeb;
  padding: 6px;
  border-radius: 50px;
  color: #b54708;
}
.draftStatus {
  background-color: #eff8ff;
  padding: 6px;
  border-radius: 50px;
  color: #175cd3;
}

.emptyData {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  // text-align: center;
}

/* Apply the scrollable_table class to your table element */
.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 10px 24px;
    text-align: left;
    font-weight: var(--tableData-fontWeight);
    font-size: var(--tableData-fontSize);
    border: none;
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        font-size: var(--tableHeader-fontSize);
        font-weight: var(--tableHeader-fontWeight);
        text-transform: var(--tableHeader-textTransform);
      }
    }
  }

  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
  tbody {
    tr:nth-child(odd) {
      // background: red;
    }
    //even keyword
    tr:nth-child(even) {
      // opacity: .7;
      // color: black;
      background-color: var(--tableRow-backgroundColor);
    }
  }

  .td_desc {
    min-width: 55.5rem;
  }
}

.spanContent {
  font-size: 0.8rem;
}

.subHeading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px 11px;
}

.emptyDataHandling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-top: 3px;
}

.textmin {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
}

.textmax {
  font-weight: 700;
  font-size: 16px;
}

.image {
  display: flex;
  justify-content: center;
}
