html,
body {
  margin: 0;
  padding: 0;
  // font-family: 'Arial', sans-serif;
  font-family: 'Inter', sans-serif;
  // overflow-y: hidden;
}

// styles.scss
:root {
  --white-base: #fff;
  --black-base: #000;

  --secondary-color: #6c757d;
  --background-color: #f8f8f8;
  --text-color: #333;
  --link-color: #007bff;
  --hover-color: #0056b3;
  --border-color: #ddd;
  --error-color: #ff0000;

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --heading-color: #222;
  --paragraph-color: #333;

  /* Spacing and Layout */
  --spacing-unit: 8px;
  --container-width: 1200px;
  --content-width: 80%;
  --sidebar-width: 280px;

  /* Breakpoints */
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;

  /* Box Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3);

  /* Z-Index */
  --z-index-modal: 1000;
  --z-index-dropdown: 500;
  --z-index-tooltip: 200;

  /* Transitions and Animations */
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;
  --animation-duration: 0.5s;

  /* Menu Header color*/
  --primary-color: #175cd3;
  --secondary-color: #7f56d9;
  --danger-color: #fef3f2;

  /* table color*/
  --tableHeader-fontColor: #2e2e30;
  --tableHeader-backgroundColor: #d5d5d7;

  /* Table Header font*/
  --tableHeader-fontSize: 13px;
  --tableHeader-fontWeight: 600;
  --tableHeader-textTransform: uppercase;

    /* Table Data font*/
    --tableData-fontSize: 12px;
    --tableData-fontWeight: 500;  
}

.globaltabledata {
  tr {
    td {
      padding: 5px 3px 3px 24px; /* Adjust padding */
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      border: none; /* Remove borders */
      border-bottom: 0.1px solid #f0f0f0;
      border-bottom: 0.1px solid #f0f0f0;
    }
  }
}

.globaltablehead {
  text-align: left;
  border: none; /* Remove borders */
  border-bottom: 0.1px solid #f0f0f0;
  tr {
    th {
      padding: 10px 10px 10px 24px;
      color: #2e2e30;
      font-size: 13px;
      font-weight: 600;
      background-color: #d5d5d7;
      border: none;
      text-transform: uppercase;
    }
  }
}
