html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
}

// styles.scss

:root {
  /* Colors */
  --primary-25-color: #fcfaff;
  --primary-50-color: #f9f5ff;
  --primary-100-color: #f4ebff;
  --primary-200-color: #e9d7fe;
  --primary-300-color: #d6bbfb;
  --primary-400-color: #b692f6;
  --primary-500-color: #9e77ed;
  --primary-600-color: #7f56d9;
  --primary-700-color: #6941c6;
  --primary-800-color: #53389e;
  --primary-900-color: #42307d;
  --primary-950-color: #2c1c5f;

  --gray-25-color: #fcfcfd;
  --gray-50-color: #f9fafb;
  --gray-100-color: #f2f4f7;
  --gray-200-color: #eaecf0;
  --gray-300-color: #d0d5dd;
  --gray-400-color: #98a2b3;
  --gray-500-color: #667085;
  --gray-600-color: #475467;
  --gray-700-color: #344054;
  --gray-800-color: #1d2939;
  --gray-900-color: #101828;
  --gray-950-color: #0c111d;

  --white-base: #fff;
  --black-base: #000;

  --secondary-color: #6c757d;
  --background-color: #f8f8f8;
  --text-color: #333;
  --link-color: #007bff;
  --hover-color: #0056b3;
  --border-color: #ddd;
  --error-color: #ff0000;

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --heading-color: #222;
  --paragraph-color: #333;

  /* Spacing and Layout */
  --spacing-unit: 8px;
  --container-width: 1200px;
  --content-width: 80%;
  --sidebar-width: 280px;

  /* Breakpoints */
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;

  /* Box Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3);

  /* Z-Index */
  --z-index-modal: 1000;
  --z-index-dropdown: 500;
  --z-index-tooltip: 200;

  /* Transitions and Animations */
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;
  --animation-duration: 0.5s;

  /* Menu Header color*/
  --primary-color: #175cd3;
  --secondary-color: #7f56d9;
  --danger-color: #fef3f2;
}
