.container{
display: flex;
margin: 1%;
flex-direction: column;
gap:20px
}
.headingContainer{
display: flex;
flex-direction: column;
border-bottom: 1px solid black;
}
.headingContainer h3{
  font-size: 20px;
  color:black;
}
.headingContainer p{
  font-size: 14px;
  padding: 8px 0 20px 0;
  color: var(--gray-600-color)
}
.itemField {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.itemField1 {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemFields2{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.buttonFields {
  display:flex;
  flex-direction:row;
  gap:30px;
  justify-content:flex-end;
  padding-right:50px;
}


