* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  margin: 2%;
}
.topContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer{
display: flex;
}

.leftContainer h1 {
  font-size: 30px;
}
.button{
  padding: 2px 8px;
}
.dropdownButton{
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}
