.popupContent {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 25px;
  }
  
  .field {
    padding: 5px 20px 5px 20px;
  }
  
  .dividerStyle {
    border-bottom: 1px solid #ccc;
    // padding: 3px 1px 5px 1px;
  }
  .dividerStyleOne {
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 15px 0px;
  }
  
  .mainField {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .selectField {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .formButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 20px 10px 0px;
  }
  
  .cancelButton:hover {
    background-color: #c4c4c6;
    color: #070707;
  }
  
  
.documentOuterLayer {
  width: 80%;
  border: 1px dashed #475467;
  border-radius: 5px;
}

.documentContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.documentSpan {
  font-size: 0.65rem;
}

.topDocumnetLayer{
  padding-left: 20px;
}
.documentheading{
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #333c44;
  font-weight: 600;
}