.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupBody {
    padding: 16px;
  }

  // .popup-enter {
  //   transform: translateX(100%);
  //   transition: transform 1.5s ease-in-out;
  // }
  
  // .popup-enter-active {
  //   transform: translateX(0);
  // }
  
  // .popup-exit {
  //   transform: translateX(0);
  //   transition: transform 0.8s ease-in-out;
  // }
  
  // .popup-exit-active {
  //   transform: translateX(100%);
  // }