.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBody {
  padding: 16px;
}

//customSide popup

.popupContainer {
   position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.6);
}

.dialogStyle {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(118, 118, 118, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index:999;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.dialog_mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
  z-index: 01;
  pointer-events: auto;
}

.dialog_box{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  width: 50vw;
  z-index: 02;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 0 none;
  background: #ffff;
}


.boxStyle {
  background-color: #fff;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selected {
  position: relative;
}

.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}

.mainContent {
  padding-top: 10px;
}

/* Add more styles as needed */

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.main_content {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
.main_content::-webkit-scrollbar {
  display: none;
}
.popupContentContainer{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

// .popupContentContainer::-webkit-scrollbar{

// }
.content {
  font-size: 0.7rem;
  padding-bottom: 5px;
}

.ab_tableContainer {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  // padding: 10px 10px;
  /* Adjust padding */
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 10px 24px;
    text-align: left;
    border: none;
    font-weight: var(--tableData-fontWeight);
    font-size: var(--tableData-fontSize);
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
    // border-bottom :0px, 0px, 1px, 0px
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        font-size: var(--tableHeader-fontSize);
        font-weight: var(--tableHeader-fontWeight);
        text-transform: var(--tableHeader-textTransform);
      }
    }
  }

  tbody {
    tr:nth-child(odd) {}

    tr:nth-child(even) {
      background-color: var(--tableRow-backgroundColor);
    }
  }

  .td_desc {
    min-width: 55.5rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center {
  justify-content: center;
}

.space_between {
  justify-content: space-between;
}

.gap_2 {
  gap: 2rem;
}

.gap_3 {
  gap: 3rem;
}