.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  height: 30%;
}

.main {
  height: 50%;
  width: 30%;
}

.mainCard {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content_card {
  display: flex;
  gap: 5px;
}

.content {
  opacity: 0.7;
  font-size: small;
  padding-bottom: 10px;
}

.footer {
  height: 20%;
}

.password_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message {
  opacity: 0.7;
  font-size: small;
  color: green;
}

.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}
.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}
.colour {
  color: #BEBFC5;
}
.lockicon {
  padding-top: 4px;
}
