.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  height: 30%;
}

.main {
  height: 50%;
  width: 30%;
}

.mainCard {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content_card {
  display: flex;
  gap: 5px;
}

.content {
  opacity: 0.7;
  font-size: small;
}

.footer {
  height: 20%;
}

.password_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message {
  opacity: 0.7;
  font-size: small;
  color: green;
}
