.container{
  // background-color:aqua;
  padding: 10px 20px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: left;
}
.heading {
  padding-top: 5px;
  font-size: larger;
  font-weight: bolder;
}
.dividerLine {
  border-bottom: 2px solid #ccc;
  padding: 5px 1px 5px 1px;
}
