
.container{
  display: flex;
  flex-direction: column;
}
.topContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer{
display: flex;
}

.leftContainer h1 {
  font-size: 30px;
}
.button{
  display: flex;
  padding: 2px;
  gap: 20px;
}
.middleContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middleRightContent{
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchField {
  padding: 15px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.searchButton {
  display: flex;
  flex-direction: row;
  flex-shrink: initial;
}
.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}
.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}
.resetButton [disabled]{
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #848289;
  background-color: #ccc;
}
.resetButton:not([disabled]):hover {
  background-color: #c4c4c6;
  color: #ffffff;
}

.tablerow {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.groupButton{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px; /* Adjust padding */
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px 5px 24px; /* Adjust padding */
    text-align: left;
    font-weight: 500;
    // border: 0px 0px 1px;
    font-size: 12px;
    border: none; /* Remove borders */
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
    // border-bottom :0px, 0px, 1px, 0px
  }

  thead {
    tr {
      th {
        color: #667085;
        font-weight: 700;
      }
    }
  }
  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
}

.topHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.subHeading {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.filters {
  display: flex;
  gap: 20px;
  padding: 10px;
}