.container {
  height: 98vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 10px;
  padding: 10px;
  // background-color: gray;
  border-top: 8px solid var(--primary-color);
  overflow: hidden;
}

  // .container > div {
  //   background-color: rgba(255, 255, 255, 0.8);
  // }

.imgContainer{
  // width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.imagediv {
  width: 100%;
  height: 75%;
  // object-fit: fill;
  background-repeat: no-repeat;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  // border: 5px solid blue;
  // background-color: green;
  gap: 5px;

  .titlediv {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .main_title {
    height: 40%;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .main_tile_words {
    font-weight: bold;
    font-size: larger;
  }

  .sub_tile_words {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .sub_title_sub {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #667085;
  }
}

.copyRights {
  padding-top: 70%;
  color: gray;
  font-size: smaller;
}

.logoCotainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forgetPassword {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  padding: 4px 0px 10px 0px;
}


.loginButton {
  text-align: center;
  padding-top: 3px;
}

.errormessage {
  color: red;
  font-size: small;
  text-align: center;
}
.newAccounts {
  text-align: center;
  font-size: 14px;
}

.newAccounts_msg {
  color: #475467;
}
.submitButton {
  background-color: #7f56d9;
}
.passToggle {
  background: none;
  border: none;
}

@media (min-width: 750px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .container {
    // background-color: red;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .imgContainer {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
  }
  
  .contentDiv {
    grid-row: 2 / 2;
    // margin: 10%;
  }

  .imagediv {
    margin: 0;
    padding: 0;
    top: 0;
    width: 80%;
    height: 100%;
  }

  .sub_tile_words {
    color: rgb(81, 79, 79);
    padding: 10px 0px;
  }

  .copyRights {
    padding-top: 8%;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .imgContainer {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
  }
  
  .contentDiv {
    grid-row: 2 / 2;
    // margin: 10%;
  }

  .imagediv {
    width: 60%;
    height: 100%;
  }

  .sub_tile_words {
    color: rgb(81, 79, 79);
    padding: 10px 0px;
  }

  .copyRights {
    padding-top: 8%;
  }
}