.container {
  height: 98vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 40% 60%;
  border-top: 8px solid var(--primary-color);
  overflow: hidden;
}

.imgContainer{
  display: grid;
  justify-content: flex-end;
  align-items: end;
}

.imagediv {
  object-fit: fill;
  background-repeat: no-repeat;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .titlediv {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .main_title {
    height: 40%;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .main_tile_words {
    font-weight: bold;
    font-size: larger;
  }

  .sub_tile_words {
    font-size: 35px;
  }

  .sub_title_sub {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #667085;
  }
}

.copyRights {
  margin-top: 69%;
  color: gray;
  font-size: smaller;
}

.logoCotainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forgetPassword {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  padding: 4px 0px 10px 0px;
}


.loginButton {
  text-align: center;
  padding-top: 3px;
}

.errormessage {
  color: red;
  font-size: small;
  text-align: center;
}
.newAccounts {
  text-align: center;
  font-size: 14px;
}

.newAccounts_msg {
  color: #475467;
}
.submitButton {
  background-color: #7f56d9;
}
.passToggle {
  background: none;
  border: none;
}
