.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.contantdiv {
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  // justify-content: space-between;
}

.titlediv {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main_title {
  height: 20%;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.main_tile_words {
  font-weight: bold;
  font-size: larger;
}
.sub_tile_words {
  font-weight: bold;
  font-size: larger;
}
.sub_title_sub {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #667085;
}

.imagediv {
  width: 60%;
  height: 100%;
  background-image: url(../../public/Section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: larger;
}

.logoCotainer {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filedContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 70%;

}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buttonField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forgetPassword {
  font-size: smaller;
}

.divider {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #3f3f3f;
}

.divider::before,
.divider::after {
  flex: 10;
  content: '__________________';
  padding: 1px;
  padding-bottom: 8px;
  color: #3f3f3f;
}

.loginButton {
  text-align: center;
}

.ssoButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconColor {
  border-color: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.footers {
  height: 20%;
}
.errormessage {
  color: red;
  font-size: small;
  text-align: center;
}
.newAccounts {
  text-align: center;
  font-size: 14px;
}

.newAccounts_msg {
  color: #475467;
}
.submitButton {
  background-color: #7f56d9;
}
.passToggle {
  background: none;
  border: none;
}
