.box {
    padding: 15px 0px 5px 10px;
}

.dividerStyle {
    border-bottom: 1px solid #ccc;
    padding: 1px 1px 5px 1px;
}

.form {
    justify-content: center;
}

.formFields {
    padding: 20px 20px 0px 20px;
}

.fieldRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonFields {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 135px;
}

// Machinery List>>>>>>>>>>>>>>>>

.container {
    width: 100%;
    height: 100vh;
}

.text {
    padding: 10px 10px 0px 10px;
    display: flex;
    gap: 79%;
}

.textStyle {
    padding-left: 5px;
    padding-top: 5px;
}

.searchField {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.searchButton {
    display: flex;
    flex-direction: row;
    flex-shrink: initial;
}

.searchButton {
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    color: #6941c6;
}

.searchButton:hover {
    background-color: #7f56d9;
    color: #ffffff;
}

.resetButton [disabled] {
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    color: black;
    background-color: #ccc;
}

.resetButton:not([disabled]):hover {
    background-color: #c4c4c6;
    color: #ffffff;
}

.inputFilter {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    gap: 20px;
}

.tableContainer {
  padding: 3px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// table {
//     border-collapse: collapse;
//     width: 100%;
//     border: 1px solid #ccc;
// }

// th {
//     background-color: #f2f2f2;
//     padding: 8px;
//     text-align: left;
// }

// tr {
//     border-bottom: 1px solid #ccc;
// }

// td {
//     padding: 8px;
// }

.tablerow {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    cursor: pointer;
}

// tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

// tr:hover {
//     background-color: #e0e0e0;
// }

.pagination {
    display: flex;
    justify-content: end;
}

.topHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  
  .subHeading {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
  }
  
  .spanContent {
    font-weight: 400;
  }
  
  .emptyButton {
    margin-top: 25px;
  }
  
  .emptyDataHandling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 50px;
  }

  .contentGap {
    padding: 10px;
  }
  
  .textmin {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .textmax {
    font-weight: 700;
    font-size: 16px;
  }

  .scrollable_table {
    width: 100%;
    height: 100%;
    padding: 10px 10px; /* Adjust padding */
    gap: 12px;
    border-collapse: collapse;
  
    th,
    td {
      padding: 5px 10px 5px 24px; /* Adjust padding */
      text-align: left;
      // border: 0px 0px 1px;
      font-weight: var(--tableData-fontWeight);
      font-size: var(--tableData-fontSize);
      border: none; /* Remove borders */
      border-bottom: 0.1px solid #f0f0f0;
    }
    tbody {
      tr:nth-child(odd) {
        // background: red;
      }
      //even keyword
      tr:nth-child(even) {
        // opacity: .7;
        // color: black;
        background-color: var(--tableRow-backgroundColor);
      }
    }
   
    .td_desc {
      min-width: 55.5rem;
    }
  
    td {
      border-bottom: 0.1px solid #f0f0f0;
      // border-bottom :0px, 0px, 1px, 0px
    }
  
    thead {
      tr {
        th {
          padding: 10px 10px 10px 24px;
          color: var(--tableHeader-fontColor);
          background-color: var(--tableHeader-backgroundColor);
          border: none;
          font-size: var(--tableHeader-fontSize);
          font-weight: var(--tableHeader-fontWeight);
          text-transform: var(--tableHeader-textTransform);
        }
      }
    }

    td:hover,
    tr:hover {
      /* Add hover styles if needed */
    }
  }

  .filters {
    display: flex;
    gap: 20px;
    padding-left: 10px;
    transform: translateY(18%);
    }