.conatiner {
  width: 100%;
  //   height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textContent {
  padding-left: 10px;
  padding-top: 10px;
}
.content {
  font-size: 0.7rem;
}
.box {
  position: relative;
}
.projectField {
  margin-top: -18px;
}
.projectHeading {
  font-size: 0.8rem;
}
.fields_container {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.fields_container_1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}
.fields_container_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.box::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 20;
  left: 10;
}

.box:last-child::after {
  display: none;
}

.tableContainer {
  padding: 10px;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.searchField {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.inputFilter {
  display: flex;
  gap: 10px;
}
.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}
.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}
.resetButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #848289;
  // background-color: #e0e0e0;
}
.resetButton:hover {
  background-color: #c4c4c6;
  color: #ffffff;
}
.pagination {
  display: flex;
  justify-content: end;
}

.formContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.formButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding:10px 20px 10px 0px ;
}
.cancelButton:hover {
  background-color: #c4c4c6;
  color: #070707;
}
.titleStyle {
  padding: 10px 10px 1px 2op;
}
.dividerStyle {
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}
.field {
  padding: 5px 20px 5px 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}
