.topHeading {
    display: flex;
    flex-direction: row;
    width: 103%;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headingOne {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.subHeading {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0px 15px 0px 10px;
}

.searchBar {
    display: flex;
    gap: 20px;
    transform: translateY(15%);
}

.tableContainer {
    padding: 12px 20px 5px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .scrollable_table {
    width: 102%;
    height: 100%;
    padding: 10px 10px;
    /* Adjust padding */
    gap: 12px;
    border-collapse: collapse;
  
    th,
    td {
      padding: 10px 10px 10px 24px;
      /* Adjust padding */
      text-align: left;
      font-weight: var(--tableData-fontWeight);
      font-size: var(--tableData-fontSize);
      border: none;
      /* Remove borders */
      border-bottom: 0.1px solid #f0f0f0;
    }
  
    td {
      border-bottom: 0.1px solid #f0f0f0;
    }
  
    thead {
      tr {
        th {
          padding: 10px 0px 10px 24px;
          color: var(--tableHeader-fontColor);
          background-color: var(--tableHeader-backgroundColor);
          border: none;
          font-size: var(--tableHeader-fontSize);
          font-weight: var(--tableHeader-fontWeight);
          text-transform: var(--tableHeader-textTransform);
        }
      }
    }
}

.emptyDataHandling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-top: 75px;
}

.subHeadingForInitialPage {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 10px 15px 0px 10px;

}

.contentGap {
  padding: 5px;
}

.textmin {
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
}

.textmax {
  font-weight: 700;
  font-size: 16px;
}

.Colps {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 0px 0px 0px 18px;
}
.ColpsChilds {
  display: flex;
  gap: 20px;
}
.ColpsheadingpanelOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.ColpsDatapanelOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selectedRow {
  background-color: #f3f3f3;
}

  
.subTableContainer {
  padding: 12px 10px 5px 0px;
  width: 98%;
  display: flex;
  flex-direction: column;
  // gap: 20px;
}
