*{
  margin: 0;
  padding: 0;
  border: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f0f0f0;
}

.logo {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  padding: 0 24px;
}

.navLinks {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}
.navIcon {
  padding: 0 4px;
}
.icon {
  vertical-align: middle;
  color: grey;
  padding: 5px;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
}


.sequencesRow {
  display: flex;
  align-items: center;
}
.sequencesRow h2 {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  padding: 0 10px;
}
.sequenceNames {
  padding: 0 10px;
  font-size: 15px;
}
.Secondarynavbar {
  display: flex;
  align-items: center;
  // padding:  0 24px;
}
.SecondaryNaVlinks {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 15px;
}
.SecondaryNaVlinks div {
  padding: 0 10px;
}
.activeLink {
  color: #1b92eb;
}
.toggleButton {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.toggleText {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}
.actionDiv {
  display: flex;
  align-items: center;
  border: 1px solid rgb(227, 225, 225);
  padding: 5px;
  background-color: #f0f0f0;
  width: 100%;
  justify-content: space-around;
}
.Ctabuttons {
  display: flex;
}
.container {
  display: flex;
}

.dropdownContainer {
  display: flex;
  gap: 1rem;
}
.dropdowntitle {
  display: flex;
  flex-direction: row;
}

.searchInputContainer {
  position: relative; // Add this
  transition: width 0.5s;
  overflow: hidden;
  width: 150px;
}

.expanded {
  width: 100%;
}

.searchInput {
  position: absolute; // Add this
  width: 100%; // Add this
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
}

.searchIconContainer {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: #333;
}
.container{
  display: flex;
  gap: 10px;
  width: max-content;
}
.dropDownContainer p{
  font-size: 14px;
  color: #7F56D9;
}
.dropDwonContent{
  display: flex;
  flex-direction: column;
  max-width: 290px;
  padding:16px;
gap: 10px;
}
.itemsTitle{
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropDownItems p{
  font-size:12px;
  color: #475467;
  padding: 2px 32px;
}
.itemsTitle h2{
font-size: 14px;
}
.menu {
  list-style: none;
  // width: 73px;
  // padding-top: 5px;
  margin-top: 15px;
  // padding-left: 10px;
  // padding-right: 18px;
  // padding-bottom: 10px;
  position:absolute;
  gap: 10px;
  top: 45px;
  left: 92%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight:normal;
  border-radius: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0.1, 0.1);
}
.menuItem:hover {
  background-color: #ddd;
}
.menuItem{
  // background-color: #333;
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 10px;
} 

