* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--primary-color);
  // color: white;
}

.appContainer {
  display: flex;
  align-items: center;
  width: 60%;
}
.acountContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.container {
  position: relative;
}
.verticalLine::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px; /* Adjust the width of the line */
  background-color: #ffffff; /* Adjust the color as needed */
  height: 100%;
}
.logo {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.navLinks {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.navIcon {
  padding: 0 4px;
}

.navIcon1 {
  padding: 0 4px;
  margin-right: 20px;
}

.icon {
  vertical-align: middle;
  color: grey;
  padding: 5px;
}

.rightSearch {
  display: flex;
  align-items: center;
  gap: 5px;
}

// .rightIcons {
//   display: flex;
//   // flex-direction: row;
//   // gap: 15px;
//   // padding-left: 10px;
//   // background-color: lawngreen;
// }

.sequencesRow {
  display: flex;
  align-items: center;
}

.sequencesRow h2 {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  padding: 0 10px;
}

.sequenceNames {
  padding: 0 10px;
  font-size: 15px;
}

.Secondarynavbar {
  display: flex;
  align-items: center;
  // padding:  0 24px;
}

.SecondaryNaVlinks {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 15px;
}

.SecondaryNaVlinks div {
  padding: 0 10px;
}

.activeLink {
  color: #1b92eb;
}

.toggleButton {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.toggleText {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.actionDiv {
  display: flex;
  align-items: center;
  border: 1px solid rgb(227, 225, 225);
  padding: 5px;
  background-color: #f0f0f0;
  width: 100%;
  justify-content: space-around;
}

.Ctabuttons {
  display: flex;
}

.container {
  display: flex;
}
.container1 {
  width: 100%;
  height: 100vh;
}

.dropdownContainer {
  display: flex;
  gap: 1rem;
  color: #333;
}

.dropdowntitle {
  display: flex;
  flex-direction: row;
}

.searchInputContainer {
  position: relative;
  transition: width 0.5s;
  overflow: hidden;
  width: 150px;
}

.expanded {
  width: 100%;
}

.searchInput {
  position: absolute; // Add this
  width: 100%; // Add this
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
}

.searchIconContainer {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: #333;
}

.container {
  display: flex;
  gap: 10px;
  // width:fit-content;
  padding: 1rem;
}

// .dropDownContainer {}

.dropDownContainer p {
  font-size: 14px;
  color: #7f56d9;
}

.dropDownContent {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 1rem;
}

.itemsTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropDownItems {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-width: 250px;
}

.dropDownItems p {
  font-size: 12px;
  color: #475467;
  padding: 2px;
}

.itemsTitle h2 {
  font-size: 14px;
}

.menu {
  list-style: none;
  margin-top: 27px;
  position: absolute;
  z-index: 1500;
  gap: 10px;
  top: 40px;
  right: 0px;
  width: 16%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  max-height: 250px;
  padding: 5px;
  color: black;
}

.menuItem:hover {
  background-color: #ece5e5;
}

.menuItem {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 10px;
}

.menubox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menubox:hover {
  background-color: #ddd;
}

.box {
  position: relative;
}

.box::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 20;
  left: 10;
}

.box:last-child::after {
  display: none;
}

.profileDetail {
  display: flex;
  padding: 10px;
  gap: 20px;
}
.profileDetailHead {
  display: flex;
  // padding: 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profileContents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profileName {
  font-weight: bolder;
}

.profileRole {
  font-size: small;
  font-weight: 100;
  // color: #919191;
}

/* Avatar.css */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c2c4c5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  font-weight: bold;
  text-transform: uppercase;
  font-size: medium;
}

// .icons {}

.menu_item {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  cursor: pointer;
}

// .menu_item:hover {
//   color: green;
//   transform: scale(1.1);
// }

.menu_item:hover .menu_label {
  display: block;
}

.selected:hover {
  // text-decoration: underline yellow;
}

/* styles.css */
.selected {
  position: relative;
}

.selected::after {
  content: ''; /* Create an empty content box */
  position: absolute; /* Position the line absolutely within the selected item */
  bottom: 0; /* Position the line at the bottom of the selected item */
  left: 0;
  top: 42px;
  width: 100%; /* Make the line span the full width of the selected item */
  height: 4px; /* Adjust the height of the line as needed */
  background-color: #fec84b; /* Change this to your desired line color */
}

.navMenu {
  display: flex;
  gap: 20px;
}
.menuContainer {
  display: flex;
  gap: 5px;
  color: white;
}
