.container {
  width: 100%;
  height: 100vh;
}

.text {
  padding: 8px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.textStyle {
  padding-left: 5px;
  display: flex;
  justify-content: center;
}

.textStyleDescription {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.7rem;
}

.cardTextStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.dividerStyle {
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}

.searchField {
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  gap: 8px;
  color: #6941c6;
  background-color: transparent;
  border: 1px solid #6941c6;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #7f56d9;
    color: #ffffff;
  }
}

.resetButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  gap: 8px;
  color: black;
  background-color: #ccc;
  cursor: not-allowed;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #ccc;
    color: black;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.inputFilter {
  display: flex;
  gap: 10px;
}

.inputFilter1 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.cardDiv1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.button {
  display: flex;
  justify-content: center;
}

.pagination {
  padding: 10px 10px 10px 2px;
  display: flex;
  justify-content: end;
}

/* Apply the scrollable_table class to your table element */
.scrollable_table {
  width: 100%;
  padding: 10px 10px 10px 10px;
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px 5px 24px;
    text-align: left;
    font-weight: var(--tableData-fontWeight);
    font-size: var(--tableData-fontSize);
    border: none;
    border-bottom: 0.1px solid #f0f0f0;
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--tableRow-backgroundColor);
    }
  }

  .td_desc {
    min-width: 55.5rem;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        font-size: var(--tableHeader-fontSize);
        font-weight: var(--tableHeader-fontWeight);
        text-transform: var(--tableHeader-textTransform);
      }
    }
  }

  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
}

.completedStatus {
  background-color: #ecfdf3;
  padding: 6px;
  border-radius: 50px;
  color: #027a48;
}

.inprogressStatus {
  background-color: #fdf2fa;
  padding: 6px;
  border-radius: 50px;
  color: #c11574;
}

.draftStatus {
  background-color: #eff8ff;
  padding: 6px;
  border-radius: 50px;
  color: #175cd3;
}

.tablerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.tableContainer {
  // padding: 10px 10px 0px 10px;
  width: 100%;
  overflow-x: auto; 
}

/* Media Query for Mobile */
/* Default styles for the table */
.scrollable_table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px 5px 24px;
    text-align: left;
    font-weight: var(--tableData-fontWeight);
    font-size: var(--tableData-fontSize);
    border: none;
    border-bottom: 0.1px solid #f0f0f0;
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--tableRow-backgroundColor);
    }
  }

  .td_desc {
    min-width: 55.5rem;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        font-size: var(--tableHeader-fontSize);
        font-weight: var(--tableHeader-fontWeight);
        text-transform: var(--tableHeader-textTransform);
      }
    }
  }

  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
}

/* Responsive Styles */
@media (max-width: 767px) {
  .scrollable_table th,
  .scrollable_table td {
    white-space: nowrap;
  }
}

/* Additional Styles */
.pagination {
  justify-content: center;
}

.inputFilter1 {
  justify-content: flex-start;
}

