.Container {
  width: 100%;
  padding-bottom: 10px;
}
.Container_main {
  padding-left: 10px;
  padding-right: 10px;
}
.mainBody {
  padding: 10px;
}
.groupButton {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.box {
  position: relative;
}

.box::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 20;
  left: 10;
}

.box:last-child::after {
  display: none;
}
.mainTextContent {
  padding: 10px;
  display: flex;
  align-items: center;
}
.textContent_1 {
  width: 30%;
}
.textContent {
  padding: 15px 10px 10px 20px;
}
.content {
  font-size: 0.7rem;
  padding-bottom: 5px;
}
.inputFieldMain {
  //   padding: 0px 0px 0px 20px;
  width: 96%;
  height: 50%;
}
.inputFields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
}

.instantAdd {
  color: cadetblue;
  font-weight: lighter;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
.submitButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px 15px 0px;
  gap: 10px;
}
.resetButton {
  color: #848289;
}

.resetButton:hover:not(:disabled) {
  background-color: #c4c4c6;
  color: #ffffff;
}

.resetButton:disabled {
  background-color: #dcdcdc;
  color: #848289;
  cursor: not-allowed;
}
.stock_Container {
  padding: 10px;
  margin: 0 auto;
}

.tableContainer {
  padding: 10px;
  width: 100%;
  // height: 100%;
  // overflow-x: auto;
  // overflow-y: none;
  max-width: 1150px; /* Adjust the maximum width as needed */
  // max-height: 550px;
  margin: 0 auto;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.scrollable_table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;

  th,
  td {
    border: 1px solid #000000;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
  }
  thead {
    tr {
      th {
        background-color: #f2f2f2;
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
  }

  td {
    // align-items: center;
    // text-align: center;
  }
  td:hover,
  tr:hover {
    background-color: rgb(239, 239, 239);
  }
}
.tableHeading{
  align-items: center;
}
.buttonContent {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.addPlan {
  color: #7f56d9;
  font-weight: lighter;
  font-size: x-small;
  cursor: pointer;
}
.addPlan:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(196, 114, 212, 0.2);
}

.documentContainer {
  padding: 10px 0px 0px 30px;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.documentOuterLayer {
  width: 40%;
  border: 1px dashed #475467;
  border-radius: 5px;
}

.documentContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.documentSpan {
  font-size: 0.65rem;
}
.viewFiles {
  padding: 0px 0px 0px 50px;
}
.listStyles {
  font-size: 0.85rem;
}

.errorStyles {
  color: red;
  font-size: 0.75rem;
}

.headingContent {
  display: flex;
  justify-content: space-between;
  // background-color: #475467 ;
}
.indent_container {
  padding: 10px;
}

.formConatiner {
  padding-top: 10px;
}
.buttons {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}
.backButton {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.searchField {
  padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.inputFilter {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.filterSelect {
  width: 30%;
}
.filterButton {
  display: flex;
  gap: 20px;
}
.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}
.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}
.resetButton [disabled] {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: black;
  background-color: #ccc;
}
.resetButton:not([disabled]):hover {
  background-color: #c4c4c6;
  color: #ffffff;
}

.pagination {
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

//view Screen

.container {
  padding: 10px;
}
.content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
