.Container {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .Container_main {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .mainBody {
    padding: 10px;
  }
  
  .groupButton {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  
  .box {
    position: relative;
    padding-top: 20px;
  }
  
  .box::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 20;
    left: 10;
  }
  
  .box:last-child::after {
    display: none;
  }
  
  .mainTextContent {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .textContent_1 {
    width: 30%;
  }
  
  .textContent {
    padding: 15px 10px 10px 20px;
  }
  
  .content {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }
  
  .inputFieldMain {
    //   padding: 0px 0px 0px 20px;
    width: 96%;
    height: 50%;
  }
  
  .inputFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
  }
  
  .inputField {
    width: 10%;
    height: 50%;
    // background-color: #6941c6;
  }
  
  .instantAdd {
    color: cadetblue;
    font-weight: lighter;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .submitButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 30px 15px 0px;
    gap: 10px;
  }
  
  .resetButton {
    color: #848289;
  }
  
  .resetButton:hover:not(:disabled) {
    background-color: #c4c4c6;
    color: #ffffff;
  }
  
  .resetButton:disabled {
    background-color: #dcdcdc;
    color: #848289;
    cursor: not-allowed;
  }
  
  .stock_Container {
    margin: 0 auto;
  }
  
  .tableContainer {
    // padding: 10px;
    width: 100%;
    // height: 100%;
    // overflow-x: auto;
    // overflow-y: none;
    /* Adjust the maximum width as needed */
    // max-height: 550px;
    margin: 2rem auto;
  
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
  
  .tableDiv{
      display: flex;
      flex-wrap: wrap; /* Wrap items to the next row */
      gap: 10px; /* Adjust the gap between items */
      justify-content: center;
      align-items: center;
      padding: 20px 10px 10px 10px;
      // overflow: hidden;
  }
  
  .icons{
  
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  
  .deleteIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 5px;
    color: var(--secondary-color);
  }
  
  /* Individual iframe */
  .iframeDiv {
    width: calc(15.33% - 10px); /* Adjust the width based on the number of columns you want */
    // box-sizing: border-box; /* Include padding and border in the width calculation */
    // border: 1px solid #ccc; 
    /* Add a border for each iframe */
    border: none;
  }
  
  /* Style the iframe itself */
  .iframeDiv iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  
  .tableContainerBOM {
    padding-top: 20px;
    width: 100%;
    &::-webkit-scrollbar {
      width: 2px;
      background: transparent;
    }
  }
  
  .tableContainerIndent {
    width: 95%;
    margin: 2rem auto;
  
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
  
  /* Apply the scrollable_table class to your table element */
  .scrollable_table {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    /* Adjust padding */
    gap: 12px;
    border-collapse: collapse;
  
    th,
    td {
      padding: 10px 10px 10px 24px;
      text-align: left;
      border: none;
      font-weight: var(--tableData-fontWeight);
      font-size: var(--tableData-fontSize);
      border-bottom: 0.1px solid #f0f0f0;
    }
    tbody {
      tr:nth-child(odd) {
        // background: red;
      }
      //even keyword
      tr:nth-child(even) {
        // opacity: .7;
        // color: black;
        background-color: var(--tableRow-backgroundColor);
      }
    }
   
    .td_desc {
      min-width: 55.5rem;
    }
  
    td {
      border-bottom: 0.1px solid #f0f0f0;
      // border-bottom :0px, 0px, 1px, 0px
    }
  
    thead {
      tr {
        th {
          padding: 10px 10px 10px 24px;
          color: var(--tableHeader-fontColor);
          background-color: var(--tableHeader-backgroundColor);
          border: none;
          font-size: var(--tableHeader-fontSize);
          font-weight: var(--tableHeader-fontWeight);
          text-transform: var(--tableHeader-textTransform);      
        }
      }
    }
  
    td:hover,
    tr:hover {
      /* Add hover styles if needed */
    }
  }
  
  .scrollable_table_documents {
    // width: 100%;
    // height: 100%;
    width: 50%;
    padding: 10px 10px;
    /* Adjust padding */
    gap: 12px;
    border-collapse: collapse;
  
    th,
    td {
      padding: 10px 10px 10px 24px;
      /* Adjust padding */
      text-align: left;
      font-weight: 500;
      // border: 0px 0px 1px;
      font-size: 12px;
      border: none;
      /* Remove borders */
      border-bottom: 0.1px solid #f0f0f0;
    }
  
    td {
      border-bottom: 0.1px solid #f0f0f0;
      // border-bottom :0px, 0px, 1px, 0px
    }
    tbody {
      tr:nth-child(odd) {
        // background: red;
      }
      //even keyword
      tr:nth-child(even) {
        // opacity: .7;
        // color: black;
        background-color: var(--tableRow-backgroundColor);
      }
    }
   
    .td_desc {
      min-width: 55.5rem;
    }
  
    thead {
      tr {
        th {
          padding: 10px 10px 10px 24px;
          color: var(--tableHeader-fontColor);
          font-size: 13px;
          font-weight: 600;
          background-color: var(--tableHeader-backgroundColor);
          border: none;
          text-transform: uppercase;
        }
      }
    }
  
    td:hover,
    tr:hover {
      /* Add hover styles if needed */
    }
  }
  
  .table_container {
    display: flex;
    justify-content: center;
  }
  
  .scrollable_table_stock_add {
    width: 70%;
    // border-collapse: collapse;
    // height: 100%;
    // display: flex;
    // align-items: center;
  
    th,
    td {
      border: 1px solid #000000;
      text-align: left;
      font-weight: 500;
      font-size: 11px;
    }
  
    thead {
      tr {
        th {
          background-color: #f2f2f2;
          text-transform: uppercase;
          margin-top: 10px;
          font-weight: 600;
        }
      }
    }
    tbody {
      tr:nth-child(odd) {
        // background: red;
      }
      //even keyword
      tr:nth-child(even) {
        // opacity: .7;
        // color: black;
        background-color: var(--tableRow-backgroundColor);
      }
    }
   
    .td_desc {
      min-width: 55.5rem;
    }
  
    td {
      // align-items: center;
      // text-align: center;
    }
  
    td:hover,
    tr:hover {
      background-color: rgb(239, 239, 239);
    }
  }
  
  .tableHeading {
    align-items: center;
  }
  
  .buttonContent {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .addPlan {
    color: #7f56d9;
    font-weight: lighter;
    font-size: x-small;
    cursor: pointer;
  }
  
  .addPlan:hover .addText {
    opacity: 0.5;
  }
  
  .documentContainer {
    padding: 10px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    gap: 30px;
    align-items: center;
  }
  .document{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 2px;
  }
  
  .allDocuments{
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    background-color: gray;
    gap: 10px;
  }
  
  .documentOuterLayer {
    width: 40%;
    border: 1px dashed #475467;
    border-radius: 5px;
  }
  
  .documentContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .documentSpan {
    font-size: 0.65rem;
  }
  
  .viewFiles {
    padding: 10px 30px;
    width: 40%;
  }
  
  .closeIcon {
    padding: 2px;
  }
  
  .listStyles {
    font-size: 0.85rem;
  }
  
  .selectedFiles {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    padding: 2px;
    margin: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
  
  }
  
  .fileList {
    cursor: pointer;
    color: #333;
  }
  
  .fileList:hover {
    color: blue; 
  }
  
  .errorStyles {
    color: red;
    font-size: 0.75rem;
  }
  
  .headingContent {
    display: flex;
    justify-content: space-between;
    // background-color: #475467 ;
  }
  
  .formConatiner {
    padding-top: 10px;
  }
  
  .indent_button {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    justify-content: flex-end;
  }
  
  .buttons {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
  }
  
  .backButton {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  
  .searchField {
    padding: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  
  .inputFilter {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  
  .filterSelect {
    width: 30%;
  }
  
  .filterButton {
    display: flex;
    gap: 20px;
  }
  
  .searchButton {
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    color: #6941c6;
  }
  
  .searchButton:hover {
    background-color: #7f56d9;
    color: #ffffff;
  }
  
  .resetButton [disabled] {
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    color: black;
    background-color: #ccc;
  }
  
  .resetButton:not([disabled]):hover {
    background-color: #c4c4c6;
    color: #ffffff;
  }
  
  .pagination {
    padding-top: 10px;
    display: flex;
    justify-content: end;
  }
  
  //view Screen
  
  .container {
    padding: 10px;
  }
  
  .container_document {
    padding: 10px;
    width: 100%;
  }
  
  .content_container_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    font-weight: bold;
  }
  
  .content_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
  
  .subHeading {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  
  .topHeading {
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .iconStyle {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .siteCreatelabel {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  
  .sitelabel {
    color: var(--secondary-color);
  }
  
  .topHeading {
    display: flex;
    flex-direction: row;
  }
  
  .table_data {
    padding: 0px 140px 0px 140px;
  }
  
  .siteCreatelabel {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  
  .siteCreatelabelAdd {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    background-color: #F9F5FF;
    border-radius: 8px;
    padding: 5px;
  }
  
  .siteCreateButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .sitelabel {
    color: var(--secondary-color);
  }
  
  .subHeading {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
  }
  
  .emptyDataHandling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 35px;
  }
  
  .textmin {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .textmax {
    font-weight: 700;
    font-size: 16px;
  }
  
  .emptyButton {
    padding-top: 4px;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  
  .imageAdd{
    display: flex;
    justify-content: center;
  }
  .sub_header {
    height: 10vh;
    display: flex;
  }
  
  .logo {
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    cursor: pointer;
  }
  
  .vertical {
    position: relative;
  }
  
  .verticalLine::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    /* Adjust the width of the line */
    background-color: #7d7d7d;
    /* Adjust the color as needed */
    height: 100%;
  }
  
  .content {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }
  
  .dividerStyle {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }