.container {
  width: 100%;
  height: 100vh;
}

.text {
  padding: 10px 10px 0px 5px;
  display: flex;
  flex-direction: column;
}

.textStyle {
  // padding-left: 5px;
  // padding-top: 5px;
  align-items: center;
}

.textStyleDescription {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.7rem;
}

.cardTextStyle {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.dividerStyle {
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}

.searchField {
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.searchButton {
  display: flex;
  flex-direction: row;
  flex-shrink: initial;
}

.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}

.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}

.resetButton [disabled] {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: black;
  background-color: #ccc;
}

.resetButton:not([disabled]):hover {
  background-color: #c4c4c6;
  color: #ffffff;
}

.inputFilter {
  display: flex;
  gap: 10px;
}

.inputFilter1 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.cardDiv1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.button {
  display: flex;
  // gap: 20px;
  justify-content: center;
  // align-items: center;
}

.pagination {
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: end;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: center;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 8px;
}

.tablerow {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

.tableContainer {
  padding: 10px 10px 0px 10px;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashBoardcontainer {
  padding: 2px;
}

.dashBoard {
  height: 300px;
}

.card {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 20%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.graphCard {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 51%;
  column-gap: 50px;
  border-radius: 20px;
}

.graphCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
  padding: 15px 2px;
}

.cardDiv {
  display: flex;

  justify-content: space-evenly;

  padding: 10px 0px 10px 5px;
}

.barCarddDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.chart {
  width: 100%;

  padding: 20px 40px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 10px 10px 10px;
}

.firstHeader {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}