.topHeading {
  // background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.subHeading {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  /* Adjust padding */
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 10px 24px;
    /* Adjust padding */
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    border: none;
    /* Remove borders */
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
  }

  thead {
    tr {
      th {
        color: #667085;
        font-weight: 700;
      }
    }
  }
}

.conatiner {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.emptyDataHandling {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyButton {
  margin-top: 25px;
}

.spanContent {
  font-weight: 400;
}