.topHeading {
  // background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.imageAdd {
  display: flex;
  justify-content: center;
}


.subHeading {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  padding: 1px 10px;
}

.tableContainer {
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  /* Adjust padding */
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 10px 24px;
    /* Adjust padding */
    text-align: left;
    font-weight: var(--tableData-fontWeight);
    font-size: var(--tableData-fontSize);
    border: none;
    /* Remove borders */
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        font-size: var(--tableHeader-fontSize);
        font-weight: var(--tableHeader-fontWeight);
        text-transform: var(--tableHeader-textTransform);
      }
    }
  }


}

.container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.emptyDataHandling {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

.emptyButton {
  padding-top: 5px;
}

.textmin {
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
}

.textmax {
  font-weight: 700;
  font-size: 16px;
}
.iconStyle {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
