.container {
  width: 100%;
  height: 100vh;
}

.text {
  padding: 10px 10px 0px 5px;
  display: flex;
  flex-direction: column;
}

.textStyle {
  // padding-left: 5px;
  // padding-top: 5px;
  align-items: center;
}

.textStyleDescription {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.7rem;
}

.cardTextStyle {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.dividerStyle {
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}

.searchField {
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.searchButton {
  display: flex;
  flex-direction: row;
  flex-shrink: initial;
}

.searchButton {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: #6941c6;
}

.searchButton:hover {
  background-color: #7f56d9;
  color: #ffffff;
}

.resetButton [disabled] {
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  color: black;
  background-color: #ccc;
}

.resetButton:not([disabled]):hover {
  background-color: #c4c4c6;
  color: #ffffff;
}

.inputFilter {
  display: flex;
  gap: 10px;
}

.inputFilter1 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.cardDiv1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.button {
  display: flex;
  // gap: 20px;
  justify-content: center;
  // align-items: center;
}

.pagination {
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: end;
}


// .scrollable_table {
//   width: 100%;
//   height: 100%;
//   // top: 142px;
//   // left: 58px;
//   padding: 12px, 24px, 12px, 24px;  
//   // border: 0px, 0px, 1px, 0px;
//   gap: 10px;
  

//   th,
//   td {
//     // border: 1px solid #000000;
//     padding: 50px, 50px, 50px, 24px;
//     // border: 0px, 0px, 2px, 0px;
//     text-align: left;
//     font-weight: 500;
//     font-size: 12px;
//   }
//   thead {
//     tr {
//       th {
//         // background-color: #f2f2f2;
//         // text-transform: uppercase;
//         // border: 1px solid #000000;
//         color:#667085;
//         // margin-top: 10px;
//         font-weight: 700;
//       }
//     }
//   }

//   td {
//     // align-items: center;
//     // text-align: center;
//   }
//   td:hover,
//   tr:hover {
//     // background-color: rgb(239, 239, 239);
//   }
// }

/* Apply the scrollable_table class to your table element */
.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px; /* Adjust padding */
  gap: 12px;
  border-collapse: collapse; 

  th,
  td {
    padding: 10px 10px 10px 24px; /* Adjust padding */
    text-align: left;
    font-weight: 500;
    // border: 0px 0px 1px;
    font-size: 12px;
    border: none; /* Remove borders */
    border-bottom: 0.1px solid #f0f0f0
  }

  td{
    border-bottom: 0.1px solid #f0f0f0;
    // border-bottom :0px, 0px, 1px, 0px
  }

  thead {
    tr {
      th {
        color: #667085;
        font-weight: 700;
      }
    }
  }

  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
}



.tablerow {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  cursor: pointer;
}


// .tableContainer {
//   padding: 10px 10px 0px 10px;
//   // height: 100vh;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }

.dashBoardcontainer {
  padding: 2px;
}

.dashBoard {
  height: 300px;
}

.card {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 20%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.graphCard {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 51%;
  column-gap: 50px;
  border-radius: 20px;
}

.tableHeading {
  // background-color: linear-gradient(0deg, #EAECF0, #EAECF0);
    // linear-gradient(0deg, #FFFFFF, #FFFFFF);
   color: linear-gradient(0deg, #EAECF0, #EAECF0);
}

.graphCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
  padding: 15px 2px;
}

.cardDiv {
  display: flex;

  justify-content: space-evenly;

  padding: 10px 0px 10px 5px;
}

.barCarddDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.chart {
  width: 100%;
  padding: 20px 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 10px 0px 10px;
}

.firstHeader {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}