.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.text {
  padding: 10px 10px 0px 30px;
  display: flex;
  flex-direction: column;
}

.textStyle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.dividerStyle {
  border-bottom: 1px solid #ccc;
  padding: 5px 1px 5px 1px;
}

.dashBoardcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}

.dashBoard {
  height: 300px;
}

// For Cards in Dashboard
.card {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 20%;
  border-radius: 8px;
  padding: 20px 0px;
  background-color: #ecfdf3;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1 {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 25px;
  background-color: #f9f5ff;
}
.card2 {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 20%;
  border-radius: 10px;
  padding: 25px;
  background-color: #fffaeb;
}

.graphCard {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  column-gap: 50px;
  border-radius: 10px;
  padding: 10px;
}

.graphCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// .cardContainer {
//   padding: 15px 2px;
//   display: flex;
//   justify-content: space-;
// }

.cardContainer1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.cardDiv1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.headingContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 0px 0px 15px ;

}

.projectProgress {
  padding: 15px 0px 0px 0px ;
}

.progressBar {
  width: 100%;
  height: 20px;
  border-radius: 1.5px;
  overflow: hidden;
  padding-bottom: 1px;
}

.totalDays {
  height: 100%;
  background-color: #6941C6;
}

.completedDays {
  height: 100%;
  background-color: #32D583;
}

.border {
  padding: 15px 15px 15px 0;
  border-left: 1px solid rgb(146, 146, 146);
  border-bottom: 1px solid rgb(146, 146, 146);
  // background-image: repeating-linear-gradient(0deg, transparent, transparent 8px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 10px);
  // background-size: 100% 20px;
  // line-height: 20px; 

}
