.tableContainer {
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  font-size: 0.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 10px;
}

.dividerStyle {
  border-bottom: 1px solid #ccc;
}

.inputFields {
  padding: 5px 20px 1px 20px;
}

.formButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 10px 10px 0px;
}

.cancelButton:hover {
  background-color: #c4c4c6;
  color: #070707;
}

.dateField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.fields_container {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.fields_container_1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 5px;
  gap: 20px;
}

.fields_container_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.scrollable_table {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  /* Adjust padding */
  gap: 12px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 10px 24px;
    /* Adjust padding */
    text-align: left;
    font-weight: 500;
    // border: 0px 0px 1px;
    font-size: 12px;
    border: none;
    /* Remove borders */
    border-bottom: 0.1px solid #f0f0f0;
  }

  td {
    border-bottom: 0.1px solid #f0f0f0;
    // border-bottom :0px, 0px, 1px, 0px
  }

  thead {
    tr {
      th {
        padding: 10px 10px 10px 24px;
        color: var(--tableHeader-fontColor);
        font-size: 13px;
        font-weight: 600;
        background-color: var(--tableHeader-backgroundColor);
        border: none;
        text-transform: uppercase;
      }
    }
  }

  td:hover,
  tr:hover {
    /* Add hover styles if needed */
  }
}


.tableHeading {
  align-items: center;
}

.tablerow {
  cursor: pointer;
}

.instantAdd {
  color: cadetblue;
  font-weight: lighter;
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
}

.sub_header {
  height: 10vh;
  display: flex;
}
.logo {
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  cursor: pointer;
}
.vertical {
  position: relative;
}
.verticalLine::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  /* Adjust the width of the line */
  background-color: #7d7d7d;
  /* Adjust the color as needed */
  height: 100%;
}
.content {
  font-size: 0.7rem;
  padding-bottom: 5px;
}