.container {
    width: 100%;
}

.box {
    position: relative;
}
.content {
    font-size: 0.7rem;
}

.headingTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.backButton {
    padding: 0px 10px 0px 0px
}

.tableText {
    color: #848289;
    padding-bottom: 10px;
}

.dividerStyle {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

.tableContainer {
    padding: 10px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tablerow {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    cursor: pointer;
}

.approveButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px 10px 0px 0px
}

.bottomTable {
    padding: 20px 10px 10px 10px;
}


.scrollable_table {
    width: 100%;
    height: 100%;
    padding: 10px 10px; /* Adjust padding */
    gap: 12px;
    border-collapse: collapse;
  
    th,
    td {
      padding: 10px 10px 10px 24px; /* Adjust padding */
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      border: none; /* Remove borders */
      border-bottom: 0.1px solid #f0f0f0;
    }
  
    td {
      border-bottom: 0.1px solid #f0f0f0;
    }
  
    thead {
      tr {
        th {
          padding: 10px 10px 10px 24px;
          color: var(--tableHeader-fontColor);
          font-size: 13px;
          font-weight: 600;
          background-color: var(--tableHeader-backgroundColor);
          border: none;
          text-transform: uppercase;
        }
      }
    }
  
    .status {
      background-color: #ecfdf3;
      padding: 6px;
      border-radius: 50px;
      color: #027a48;
    }
  
  }