.sideContainer {
  height: 100vh;
  color: var(--sidebar-font-color);
  font-weight: 100;
  box-shadow: 5px 0 10px rgba(233, 233, 233, 0.5);
}
.side_menu {
  ul {
    list-style: none;
    li {
      padding: var(--sidebar-padding);
      cursor: pointer;
      font-size: var(--sidebar-fontsize);
      &:hover {
        background-color: #efefef;
      }

      &.selected {
        background-color: #d5d9eb;
        color: black;
        font-weight: 600;
      }
    }
  }
}
