.box {
    padding: 10px 0px 10px 10px;
}
.form {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    justify-content: center;
}
.dividerStyle {
    border-top: 2px solid #ccc;
}
.formFields {
    padding: 20px 10px 0px 20px;
}
.buttonFields {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}