.container {
  width: 98.4%;
  height: 100vh;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;  
}
.fields {
  display: flex;
  flex-wrap: wrap;
}

.box{
  padding-top: 15px;
}

.fieldsOne {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.error{
  color: red;
  font-size: 0.75rem;
  margin-top: 2px;
}

.statusField{
  margin-top: 17px;
}

.projectHeading {
  font-size: 0.8rem;
}

.dateField{
  height: 35%;
}

.submitButton{
  display: flex;
  gap: 10px;
}

.heading{
  padding: 10px
}

.footerButton{
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px;
}

.fieldsOne > div {
  flex: 1 0 10%;
  min-width: 250px;
}

.inputField{
  width:20%
}

.userImage{
  display: flex;
  margin-top: 20px;
}

.twoFactorCheckbox{
  margin-top: 20px;
}
.dateArea {
  width: 20%;
}
.datePicker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
  height: 90%;
}
.imageset {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.passToggle {
  background: none;
  border: none;
}